img {
    height: 500px;
    width: 100%;
    padding: 0;
}

section {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    background: -webkit-linear-gradient(black, grey);
    color: rgba(225, 225, 225, .9);
    margin: 0;
    padding: 0;
    font-size: 18px;;
}

.primary-info {
    width: 60%;
}