/* @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Limelight&display=swap') */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 20px;
    background: -webkit-linear-gradient(grey, black);
}

.home-button {
    height: 75px;
    width: 75px;
}

.home-button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all .3s;
    filter: brightness(120%);
  }

h1 {
    /* font-family: 'Limelight'; */
    background: -webkit-linear-gradient(orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}